{{#> layout }}

    <nav class="nav">
        <div class="nav__item">
            <a href="../images/pdf/resume-english.pdf">{{ resume }}</a>
        </div>
        <div class="nav__item">
            <a href="#experience">{{ experience }}</a>
        </div>
        <div class="nav__item">
            <a href="#work">{{ work }}</a>
        </div>
        <div class="nav__item">
            <a href="#contact">{{ contact }}</a>
        </div>
        <div class="nav__item --white +hidden-on-mobile">
            <a id="clear" href="#">{{ clear }}</a>
        </div>
    </nav>

    <canvas class="canvas"></canvas>

    <section class="main">

        <div class="main__me">
            <img src="../images/me.png" alt="{{ me }}">
        </div>

        <div class="main__description">
            <h1>{{ header }}</h1>
            <h3>{{ description }}</h3>
        </div>

        <div class="main__links">
            <a href="https://github.com/milewski">
                <img src="../images/github-logo.svg" alt="github">
            </a>
            <a href="https://www.linkedin.com/in/rafaelmilewski/">
                <img src="../images/linkedin-logo.svg" alt="linkedin">
            </a>
            <a href="#contact">
                <img src="../images/email-logo.svg" alt="email">
            </a>
        </div>

    </section>

    <section class="box">
        <h2>{{{ current-working }}}</h2>
    </section>

    <section id="experience" class="container">

        <h1>{{ experience }}</h1>

        <div class="timeline">
            <ul>
                {{#each companies}}
                    <li>
                        <div class="timeline__item">
                            <div class="timeline__company">{{ name }}</div>
                            <div class="timeline__duration">
                                <ul>
                                    <li>{{ until }}</li>
                                    <li>{{ from }}</li>
                                </ul>
                            </div>
                            <div class="timeline__meta">{{ location }}</div>
                        </div>
                        <div class="timeline__description">
                            <div class="timeline__role">
                                <ul>
                                    {{#each roles}}
                                        <li>{{ this }}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="timeline__link {{#if strike }} --strike{{/if}}">
                                <a target="_blank" href="{{ website }}">{{ website }}</a>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>

    </section>

    <section id="work" class="container --fluid-on-mobile">

        <h1>{{ work-header }}</h1>

        <ul class="portfolio">

            {{#each portfolio }}
                <li class="li --{{ this }}" data-id="{{ this }}"></li>
            {{/each}}

        </ul>

    </section>

    <section id="contact" class="container">

        <h1>{{ contact-me }}</h1>

        <div class="contact">
            {{#each contact-description }}
                {{{ this }}}
            {{/each}}
        </div>

    </section>

{{/ layout }}
