<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ social.description }}">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="../../images/favicon-assets/favicon-144.png">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#000000">
    <meta name="msvalidate.01" content="{{ BING }}"/>

    <title>{{ title }}</title>

    <link rel="icon" href="../../images/favicon-assets/favicon-16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="../../images/favicon-assets/favicon-32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../../images/favicon-assets/favicon-48.png" sizes="48x48" type="image/png">
    <link rel="icon" href="../../images/favicon-assets/favicon-62.png" sizes="62x62" type="image/png">
    <link rel="icon" href="../../images/favicon-assets/favicon-72.png" sizes="72x72" type="image/png">
    <link rel="icon" href="../../images/favicon-assets/favicon-96.png" sizes="96x96" type="image/png">
    <link rel="icon" href="../../images/favicon-assets/favicon-144.png" sizes="144x144" type="image/png">
    <link rel="icon" href="../../images/favicon-assets/favicon-150.png" sizes="150x150" type="image/png">
    <link rel="icon" href="../../images/favicon-assets/favicon-168.png" sizes="168x168" type="image/png">
    <link rel="icon" href="../../images/favicon-assets/favicon-180.png" sizes="180x180" type="image/png">
    <link rel="icon" href="../../images/favicon-assets/favicon-196.png" sizes="196x196" type="image/png">

    <link rel="apple-touch-icon" href="../../images/favicon-assets/favicon-180.png" sizes="180x180">

    <!-- Manifest -->
    <!--<link rel="manifest" href="../../../content/manifest/manifest.english.webmanifest">-->

    <!-- Facebook -->
    <meta property="og:url" content="{{ DOMAIN }}"/>
    <meta property="og:title" content="{{ social.title }}"/>
    <meta property="og:description" content="{{ social.description }}"/>

    <meta property="og:image" content="../../images/social-assets/social-facebook-thumb.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>

    <meta property="og:image" content="../../images/social-assets/social-google-thumb.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="600"/>
    <meta property="og:image:height" content="250"/>

</head>
